<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev">
            <span class="material-icons">
                navigate_before
            </span>
        </a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next">
            <span class="material-icons">
                navigate_next
            </span>
        </a>
    </div>
    <!--/.Controls-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item" *ngFor="let chunk of chunkedCatgeory; let isFirst = first" [class.active]="isFirst">
            <div class="col-md-4 col-xs-4" style="float:left" *ngFor="let category of chunk">
                <div class="card category-card">
                    <div class="card-body">
                        <h4 class="card-title">{{category.name}}</h4>
                        <p class="card-text"></p>
                        <a class="btn category-button">Play Quiz</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->